*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#0f172a;
  overflow:hidden;
}

/* container */
.wrapper{
  width:95vw;
  max-width:900px;
  height:70vh;
  max-height:550px;
  perspective:2000px;
  position:relative;
}

/* cover */
.cover{
  position:absolute;
  width:50%;
  height:100%;
  top:0;
  background:#0ea5e9;
  backface-visibility:hidden;
  z-index:10;
}

.cover-left{
  left:0;
  border-radius:14px 0 0 14px;
}

.cover-right{
  right:0;
  transform-origin:left;
  transition:transform 1s ease;
}

.cover-right.turn{
  transform:rotateY(-180deg);
}

/* book */
.book{
  width:100%;
  height:100%;
  position:relative;
}

/* pages */
.book-page{
  position:absolute;
  width:50%;
  height:100%;
  background:#fff;
  overflow:hidden;
}

.page-right{
  right:0;
  transform-origin:left;
  transform-style:preserve-3d;
  transition:transform 1s ease;
}

.page-right.turn{
  transform:rotateY(-180deg);
}

.page-front,
.page-back{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  backface-visibility:hidden;
}

.page-back{
  transform:rotateY(180deg);
}

/* images */
img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* arrows */
.next,
.prev{
  position:absolute;
  bottom:10px;
  font-size:2rem;
  cursor:pointer;
  color:#000;
  user-select:none;
}

.next{ right:10px; }
.prev{ left:10px; }
